QPushButton {
    background-color: rgb(255, 255, 255);
    border-style: outset;
    border-style: solid;
    border-color: rgb(207, 207, 203);
    border-width: 0.5%;
    border-radius: 4%;
    padding: 0.5%;
    border-width: 1%;
}
QPushButton:pressed {
    background-color: rgb(78, 110, 206);
    border-style: inset;
}
QPushButton:hover{      
    border-color: rgb(78, 110, 206);
}

QListWidget#chn_cbox_list {
    background-color: #ffffff;
}